<template>
  <div class="d-flex justify-content-center">
  <b-card class="m-3 w-50">
  <template v-slot:header>
      <h1>Create an Goal</h1>
    </template>
    <b-form @submit="onSubmit" @reset="onReset" class="m-3">
      <b-form-group
        id="input-group-1"
        label="Goal description"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.description"
          required
        ></b-form-input>

      </b-form-group>
      <b-form-group
        id="input-group-2"
        label="Exercise"
        label-for="input-2"
      >
      <b-form-select
        id="input-2"
        v-model="form.exerciseId"
        :options="exercises"
        required>

        </b-form-select>
        </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    </b-card>
  </div>
</template>
<script>
export default {
  name: "CreateGoal",
  data () {
    return {
      form: {
              description: "",
              is_reached: false,
              exerciseId: 1
            },
            exercises: [],
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()

      let myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      let raw = JSON.stringify(this.form);

      let requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      }

      fetch("https://localhost:44331/api/goals", requestOptions)
      .then(response => response.text())
      .then(this.$router.replace({name: "home"}))

    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.description = ""
      this.selected = null

      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    fetchData () {
        fetch("https://localhost:44331/api/exercises")
        .then(res => res.json())
        .then(data => {
          for(let e of data){
            console.log(e)
            this.exercises.push({value: e.id, text: e.name})
          }
        })
        
      }
  },
  mounted() {
    this.fetchData()
  }
}
</script>

<style scoped>
.form-group {
  text-align: left;
}
</style>