<template>
  <div>
  <b-card class="m-3">
  <template v-slot:header>
      <h1>Create a User</h1>
    </template>
    <b-form @submit="onSubmit" @reset="onReset" class="m-3">
      <b-form-group
        id="input-group-1"
        label="First Name"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.user.firstName"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Last Name"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="form.user.lastName"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-3"
        label="Password"
        label-for="input-3"
      >
        <b-form-input
          id="input-3"
          v-model="form.user.password"
          type=password
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Address Line 1" label-for="input-4">
        <b-form-input
          id="input-4"
          v-model="form.user.address.addressLine1"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-5" label="Address Line 2" label-for="input-5">
        <b-form-input
          id="input-5"
          v-model="form.user.address.addressLine2"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-6" label="Postal Code" label-for="input-6">
        <b-form-input
          id="input-6"
          type="number"
          v-model="form.user.address.postalCode.code"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-7" label="Country" label-for="input-7">
        <b-form-input
          id="input-7"
          v-model="form.user.address.postalCode.country.name"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-8" label="Height" label-for="input-8">
        <b-form-input
          id="input-8"
          type="number"
          v-model="form.weight"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-9" label="Weight" label-for="input-9">
        <b-form-input
          id="input-6"
          type="number"
          v-model="form.height"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    </b-card>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
              user:
                {
                firstName: "",
                lastName: "",
                password: "",
                isContributor: false,
                isAdmin: false,
                address:
                  {
                  addressLine1: "",
                  addressLine2: "",
                  postalCode:
                    {code: 0,
                      country:{name:""}
                    }
                  }
                },
              weight:0,
              height:0
            }
      
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()

      let myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      let raw = JSON.stringify(this.form);

      let requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      }

      fetch("https://localhost:44331/api/profiles", requestOptions)
      .then(response => response.text())
      .then(result => console.log(result))

    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.weight = null;
      this.form.height = null;
      this.form.user.firstName = "";
      this.form.user.lastName = "";
      this.form.user.password = "";
      this.form.user.address.addressLine1 = "";
      this.form.user.address.addressLine2 = "";
      this.form.user.address.postalCode.code = null;
      this.form.user.address.postalCode.country.name = "";

      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<style scoped>
.form-group {
  text-align: left;
}
</style>