<template>
<div class="d-flex justify-content-center">
  <b-card class="w-50 m-2" img-src="https://images.pexels.com/photos/949133/pexels-photo-949133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" img-bottom>
    <template v-slot:header>
      <h1>Welcome to MeFit!</h1>
    </template>
    <div class="m-3">
    <b-button-group size="lg">
      <b-button :to="{name:'ViewProfiles'}">Profiles</b-button>
      <b-button :to="{name:'ViewExercises'}">Exercises</b-button>
      <b-button :to="{name:'CreateGoal'}">Create a Goal</b-button>
    </b-button-group>
  </div>
  </b-card>
</div>
</template>
<script>
export default {
  data () {
    return {
      
    }
  }
}
</script>

<style scoped>

</style>