<template>
  <div>
  <b-card class="m-3">
  <template v-slot:header>
      <h1>Update Exercise</h1>
    </template>
    <b-form @submit="onSubmit" @reset="onReset" class="m-3">
      <b-form-group
        id="input-group-1"
        label="Exercise name"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Description"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="form.description"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-3"
        label="Traget Muscle Group"
        label-for="input-3"
      >
        <b-form-input
          id="input-3"
          v-model="form.targetMuscleGroup"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Link to example image" label-for="input-4">
        <b-form-input
          id="input-4"
          v-model="form.image"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-5" label="Link to demonstration video" label-for="input-5">
        <b-form-input
          id="input-5"
          v-model="form.videoLink"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    </b-card>
  </div>
</template>
<script>
export default {
  name: "UpdateExercise",
  data () {
    return {
      form: {
              id: 0,
              name: "",
              description: "",
              targetMuscleGroup: "",
              image: "",
              videoLink: ""
            }
      
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()

      let raw = JSON.stringify(this.form);

      let api = "https://localhost:44331/api/exercises/" + this.$route.params.exercise.id

      let myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      fetch(api, {
        method: "PUT",
        headers: myHeaders,
        body: raw
      })
      .then(response => response.text())
      .then(this.$router.replace({name: "ViewExercises"})
      )

    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.name = ""
      this.description = "",
      this.targetMuscleGroup = "",
      this.image = "",
      this.videoLink = ""

      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  },
  mounted() {
    this.form.id = this.$route.params.exercise.id
    this.form.name = this.$route.params.exercise.name
    this.form.description = this.$route.params.exercise.description
    this.form.targetMuscleGroup = this.$route.params.exercise.targetMuscleGroup
    this.form.image = this.$route.params.exercise.image
    this.form.videoLink = this.$route.params.exercise.videoLink
  }
}
</script>

<style scoped>
.form-group {
  text-align: left;
}
</style>