<template>
<div class="d-flex justify-content-center">
  <b-card v-if="exercise" class="m-3 w-50">
    <template v-slot:header>
      <h1>{{exercise.name}}</h1>
    </template>
    <b-card title="Exercise Description">
      <b-card-text>{{exercise.description}}</b-card-text>
    </b-card>
    <b-card>Target muscle group: {{exercise.targetMuscleGroup}}</b-card>
    <b-button v-on:click="updateExercise()" class="m-2 p-2" variant="outline-warning">Update</b-button>
    <b-button v-on:click="deleteExercise()" class="m-2 p-2" variant="outline-danger">Delete</b-button>
  </b-card>
</div>
</template>
<script>
export default {
  name: "Exercise",
  data(){
    return {
      exercise: null
    }
  },
  mounted() {
    this.exercise = this.$route.params.exercise
  },
  methods: {
    deleteExercise(){
      let api = "https://localhost:44331/api/exercise/" + this.exercise.id
      fetch(api, {
        method: "DELETE"
      }).then(this.$route.replace({name: "home"}))
    },
    updateExercise(){
      this.$router.replace({name: "UpdateExercise", params: {exercise: this.exercise}})
    }
  }
}

</script>
<style scoped>

</style>