<template>
<b-card class="m-3">
  <template v-slot:header>
    <h1>List of Exercises</h1>
  </template>
  <b-table v-if="!loading" striped hover borderd sticky-header="32rem" :items="exercises" :fields="fields" @row-clicked="routeToExercise">
  </b-table>
  <b-button :to="{name:'CreateExercise'}">Create an Exercise</b-button>
</b-card>
</template>
<script>
export default {
  name: "Exercises",
  data () {
    return {
      loading: true,
      exercises: null,
      fields: ["name","targetMuscleGroup"]
    }
  },
  methods: {
      fetchData () {
        fetch("https://localhost:44331/api/exercises")
        .then(res => res.json())
        .then(data => {
          this.exercises = data
          this.loading = false
        })
        
      },
      routeToExercise(item){
        this.$router.push({name: 'ViewExercise', params: {exercise: item}});
      }
    } ,
    mounted () {
      this.fetchData();
    }
}
</script>

<style scoped>

</style>