<template>
<div class="d-flex justify-content-center">
  <b-card v-if="profile" bg-variant="light" class="m-3 w-50">
    <template v-slot:header>
      <h1>{{profile.user.firstName}} {{profile.user.lastName}}</h1>
    </template>
    <b-list-group>
      
        Address: 
        <b-card class="mb-2">
          <b-card-text>{{profile.user.address.addressLine1}}</b-card-text>
          <b-card-text v-if="profile.user.address.addressLine2">{{profile.user.address.addressLine2}}</b-card-text>
          <b-card-text>{{profile.user.address.postalCode.code}} {{profile.user.address.postalCode.country.name}}</b-card-text>
        </b-card>
      
      <b-list-group-item>Height: <span>{{profile.height}} cm</span></b-list-group-item>
      <b-list-group-item>Weight: <span>{{profile.weight}} kg</span></b-list-group-item>
      <b-list-group-item v-if="profile.user.isAdmin">This profile belongs to an administrator.</b-list-group-item>
      <b-list-group-item v-if="profile.user.isContributor">This profile belongs to a contributor.</b-list-group-item>
      <b-button v-on:click="deleteUser()" class="m-2 p-2" variant="outline-danger">Delete</b-button>
    </b-list-group>
  </b-card>
</div>
</template>
<script>
export default {
  name: "Profile",
  data() {
    return {
      profile: null
    }
  },
  mounted() {
    this.profile = this.$route.params.profile
  },
  methods: {
    deleteUser(){
      let api = "https://localhost:44331/api/profiles/" + this.profile.id
      fetch(api, {
        method: "DELETE"
      }).then(this.$route.replace({name: "home"}))
    }
  }
  
}
</script>

<style scoped>

</style>