<template>
<b-card class="m-3">
  <template v-slot:header>
    <h1>List of users</h1>
  </template>
  <b-table v-if="!loading" striped hover borderd sticky-header="32rem" :items="profiles" :fields="fields" @row-clicked="routeToProfile">
  </b-table>
  <b-button :to="{name:'CreateProfile'}">Create a profile</b-button>
</b-card>
</template>
<script>
export default {
  data () {
    return {
      loading: true,
      profiles: null,
      fields: [{key :"userId", label:"Id"},{key:"user.firstName", label:"First Name"},{key:"user.lastName", label:"Last Name"} , "height", "weight"]
    }
  },
  methods: {
      fetchData () {
        fetch("https://localhost:44331/api/Profiles")
        .then(res => res.json())
        .then(data => {
          this.profiles = data
          this.loading = false
        })
        
      },
      routeToProfile(item){
        this.$router.push({name: 'ViewProfile', params: {profile: item}});
      }
    } ,
    mounted () {
      this.fetchData();
    }
}
</script>

<style scoped>

</style>